
*{
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 18px;
	font-family: gimlet-text, serif;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5em;
}

h1{
	font-size: 60px;
	line-height: 1.2em;
}

h2{
	font-size: 50px;
	line-height: 1.2em;
}

h3{
	font-size: 40px;
	line-height: 1.2em;
}

.wrapper{
	width: 80%;
	/*background-color: lightgray;*/
	margin: auto;
	display:grid;
	grid-template-columns: 1fr 1fr;
}

img{
	width: 90%;
	margin: auto;
	position: sticky;
}

.image{
	margin-top: 10vh;
}

.body-text{
	height: 100vh;
	margin-left: 10px;
	margin-right: 10px;
	overflow: scroll;
	margin-top: 10vh;
}

@media screen and (max-width: 1200px){
	
}