@font-face {
  font-family: "choreo";
  src: url("Choreo-ChoreoVF.woff2") format("woff2");
}

*{
	margin: 0;
	padding: 0;
	font-family: choreo;
	text-transform: uppercase;
	font-variation-settings: 'wght'0;
}

/*.outer-wrapper{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 100vw;
	overflow-x: scroll;
	overscroll-behavior-inline: contain;
}

.slider{
	width: 100vw;
	height: 100vh;
}
*/

.outer-wrapper{
	position: relative;
	width: 100vw;
	display: flex;
}

.slider{
	height: 100vh;
}

.one{
	background: white;
	width: 250vw;
	height: 100vh;
}

.two{
	background: black;
}

.three{
	background: white;
}

.four{
	background: black;
}

.title{
	font-size: 45vw;
	padding-left: 3vw;
	animation: transformation 2s infinite alternate;
}

@keyframes transformation{
	0%{
		font-variation-settings: 'wght' 0;
	}
	100%{
		font-variation-settings: 'wght' 100;
	}
}

.subtitle{
	width: 250vw;
	font-size: 10vw;
	color: red;
	position: absolute;
	z-index: 100;
	bottom: 5vh;
	left: 10vw;
}






