*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "InputMono-Regular";
    src: url("fonts/InputMono-Regular.woff2") format("woff2");
  }

body{
    background: black;
    font-family:"InputMono-Regular";
}

.cover{
    height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.navi{
    height: 10h;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    position: fixed;
    color: white;
}

.title{
    font-size: 35px;
}

.subtitle{
    font-size: 20px;
    display: flex;
}

#subtitle-1{
    margin-right: 20px;
}

.button{
    width: 40px;
}

#grid-container{
    display: grid;
    width:3900px;
    grid-template-columns: repeat(10, 1fr);
    column-gap:100px;
    grid-template-rows: repeat(16, 1fr);
    row-gap:100px;
    position: relative;
}

.seg{
    width: 300px;
}

.seg:hover{
    animation: hover 1s infinite alternate;
}

@keyframes hover{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.info-panel{
    background: white;
    height: 22vh;
    width: 100vw;
    position: fixed;
    top: 78vh;
    display: none;
}

.category{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
    font-size: 20px;
}

.information{
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
    position: relative;
    font-size: 20px;
    line-height: 150%;
    padding-top: 5vh;
}

.character-img{
    height: 15vh;
    position: absolute;
    top: 0vh;
}

/*Q: 
1. How to make the viewport sit in the middle of the content div? 
2. How to add the visitor number count/click count/travel distance count? */
