*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "InputMono-Regular";
    src: url("fonts/InputMono-Regular.woff2") format("woff2");
  }

body{
    background: black;
    font-family:"InputMono-Regular";
}

.cover{
    height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.navi{
    height: 10h;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    position: fixed;
    color: white;
}

.title{
    font-size: 35px;
}

.subtitle{
    font-size: 20px;
    display: flex;
}

#subtitle-1{
    margin-right: 20px;
}

#grid-container{
    display: grid;
    width:3900px;
    grid-template-columns: repeat(10, 1fr);
    column-gap:100px;
    grid-template-rows: repeat(16, 1fr);
    row-gap:100px;
    position: relative;
}

.seg{
    width: 300px;
}

.seg:hover{
    animation: hover 1s infinite alternate;
}

@keyframes hover{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.info-panel{
    background: white;
    height: 22vh;
    width: 100vw;
    position: fixed;
    top: 78vh;
    display: none;
}

.category{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
    font-size: 20px;
}

.information{
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
    position: relative;
    font-size: 20px;
    line-height: 150%;
    padding-top: 5vh;
}

.character-img{
    height: 15vh;
    position: absolute;
    top: 0vh;
}

.info-panel-content-mobile{
    display: none;
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
}
.row{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/*Q: 
0. info-panel-content-mobile grid doesn't function?
1. How to make the viewport sit in the middle of the content div? 
2. Should I change click-toggle to another command so that there is no confusing behaviour? 
2. How to add the visitor number count/click count/travel distance count? */

@media screen and (max-width: 2560px){
    .title{
        font-size: 50px;
    }

    .subtitle{
        font-size: 35px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 35px;
    }

    .category{
    font-size: 30px;
    }

    .information{
        font-size: 30px;
    }

}


@media screen and (max-width: 2200px){
    .title{
        font-size: 45px;
    }

    .subtitle{
        font-size: 30px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 30px;
    }

    .category{
    font-size: 25px;
    }

    .information{
        font-size: 25px;
    }

}


@media screen and (max-width: 1900px){
    .title{
        font-size: 35px;
    }

    .subtitle{
        font-size: 20px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 20px;
    }
    .category{
    font-size: 20px;
    }

    .information{
        font-size: 20px;
    }
}

@media screen and (max-width: 1600px){
    .title{
        font-size: 35px;
    }

    .subtitle{
        font-size: 20px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 20px;
    }
    .category{
    font-size: 20px;
    }

    .information{
        font-size: 20px;
    }

    #grid-container{
        display: grid;
        width:2900px;
        grid-template-columns: repeat(10, 1fr);
        column-gap:100px;
        grid-template-rows: repeat(16, 1fr);
        row-gap:100px;
        position: relative;
    }

    .seg{
        width: 200px;
    }
}


@media screen and (max-width: 1400px){
    .title{
        font-size: 30px;
    }

    .subtitle{
        font-size: 18px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 18px;
    }

    .category{
    font-size: 18px;
    }

    .information{
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px){
    .title{
        font-size: 30px;
    }

    .subtitle{
        font-size: 16px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 16px;
    }

    .category{
    font-size: 16px;
    }

    .information{
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px){
    .title{
        font-size: 25px;
    }

    .subtitle{
        font-size: 14px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 14px;
    }

    .category{
    font-size: 14px;
    }

    .information{
        font-size: 14px;
    }

    #grid-container{
        display: grid;
        width:1950px;
        grid-template-columns: repeat(10, 1fr);
        column-gap:50px;
        grid-template-rows: repeat(16, 1fr);
        row-gap:50px;
        position: relative;
    }

    .seg{
        width: 150px;
    }
}


@media screen and (max-width: 800px){
    .title{
        font-size: 22px;
    }

    .subtitle{
        font-size: 12px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 12px;
    }

    .category{
    font-size: 12px;
    }

    .information{
        font-size: 12px;
    }

    #grid-container{
        display: grid;
        width:1450px;
        grid-template-columns: repeat(10, 1fr);
        column-gap:50px;
        grid-template-rows: repeat(16, 1fr);
        row-gap:50px;
        position: relative;
    }

    .seg{
        width: 100px;
    }
}

@media screen and (max-width: 800px){
    .title{
        font-size: 22px;
    }

    .subtitle{
        font-size: 12px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 12px;
    }

    .category{
    font-size: 12px;
    }

    .information{
        font-size: 12px;
    }

    #grid-container{
        display: grid;
        width:1450px;
        grid-template-columns: repeat(10, 1fr);
        column-gap:50px;
        grid-template-rows: repeat(16, 1fr);
        row-gap:50px;
        position: relative;
    }

    .seg{
        width: 100px;
    }
}

@media screen and (max-width: 600px){
    .title{
        font-size: 22px;
    }

    .subtitle{
        font-size: 10px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 10px;
    }

    .category{
    font-size: 10px;
    }

    .information{
        font-size: 10px;
    }

    #grid-container{
        display: grid;
        width:1450px;
        grid-template-columns: repeat(10, 1fr);
        column-gap:50px;
        grid-template-rows: repeat(16, 1fr);
        row-gap:50px;
        position: relative;
    }

    .seg{
        width: 100px;
    }

    .info-panel-content{
        display: none;
    }

    .info-panel-content-mobile{
        display: block;
    }
}













