@font-face {
  font-family: "wavy";
  src: url("Wavy-wavyVF.woff2") format("woff2");
}


.dance{
	font-family: wavy;
	font-size: 200px;

	font-variation-settings: 'wght' 100;
}

.speed-1,.speed-2,.speed-3,.speed-4,.speed-5{
	display: inline-block;
}

.speed-1{
	animation: transformation 0.5s infinite alternate;
}

.speed-2{
	animation: transformation 1s infinite alternate;
}

.speed-3{
	animation: transformation 2s infinite alternate;
}

.speed-4{
	animation: transformation 3s infinite alternate;
}

.speed-5{
	animation: transformation 4s infinite alternate;
}


@keyframes transformation{
	from{
		font-variation-settings: 'wght' 10;
	}
	to{
		font-variation-settings: 'wght' 100;
	}
}

p{
	font-family: wavy;
	font-size: 200px;
	padding-left: 5vw;
	font-variation-settings: 'wght' 100;
	/*animation: transformation 2s infinite alternate;*/

}


/* 
font-wariation-settings:'wght' var(--weight-axis)
--weight-axis: 10; (to manipulate the setting indivisually)


 */