*{
	border: 1px;
	margin: 0;
}
/*asterisk can style everything*/
/* the more specific the command is, the more powerful it is. For example, id will override */

section{
	color: blueviolet;
}
/*casscading,nesting, ancestor and child*/

/* class and id can help style specific content*/


h1{
	color: indianred;
	font size: 400px;
	border: 1px solid;
	padding: 20px;
	font-family: liebedoris,sans-serif;
	font-weight: 700;
	font-style: italic;
}
/*padding is the area between the content and the border*/
/*margin is the area between the border and the edges of the window; many browsers */

h2{
	color: yellowgreen;
	font size: 400px;
	border: 2em;
	/* em is for relative sizes, while px is for absolute sizes*/
	/* if you have words made up with more than one word, you need to put them in quotation marks*/
}

/* you can mess around existing sites in the browser to test different css property*/

.title-box{
	border: 2px solid;
	padding: 2em;
	width: ;
	display: inline-block;
}
/* width can be px, cm, %, vw, vh*/ 