*{
  margin: 0;
  padding: 0;
  margin-block-end:0;
  margin-block-start:0;
}

@font-face {
  font-family: "choreo";
  src: url("Choreo-ChoreoVF.woff2") format("woff2");
}
@font-face {
  font-family: "choreo-v-2";
  src: url("Choreo-Choreo-v-2VF.woff2") format("woff2");
}
@font-face {
  font-family: "choreo-k";
  src: url("Choreo-Choreo-kVF.woff2") format("woff2");
}
@font-face {
  font-family: "roslindale-display-light";
  src: url("fonts/Roslindale-DisplayLight-Testing.woff2") format("woff2");
}

body{
  font-family: choreo;
  font-variation-settings: 'wght' 100;
  transition: 1s ease-in-out;
  letter-spacing: 1px;
  background: black;
  color: white;
  overflow-x: hidden;
  overflow: overlay;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFB6CE;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/*animations*/

@keyframes transformation{
  0%{
    font-variation-settings: 'wght' 0;
  }
  100%{
    font-variation-settings: 'wght' 100;
  }
}

/*title------------------------------------------------------------*/
.title{
  text-transform: uppercase;
  font-size: 22vw;
  text-align: center;
  display: block;
  margin: auto;
  color: #FFB6CE;
  padding-top: 3vh;
  padding-bottom: 1vh;
  font-variation-settings: 'wght' var(--variable-axis);
}

/*navi------------------------------------------------------------*/
.navi-wrapper{
  position: sticky;
  top: 0vh;
  color: #FFB6CE;
  z-index: 100;
}

.music-staff{
  height: 4.2vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid;
  border-collapse: collapse;
}

.row{
  border: 0.7px solid;
}

.navi-contents-wrapper{
  height: 4.2vw;
  position: relative;
  bottom: 4.4vw;
  z-index: 110;
}
.navi-contents{
  font-family:"roslindale-display-light";
  font-size: 2.3vw;
  display: flex;
  justify-content: space-between;
  padding-left: 4vw;
  padding-right: 4vw;
}

.initial-navi{
  font-family: choreo;
  font-size: 3.3vw;
}

.navi-content:hover{
  animation: transformation 1s infinite alternate;
}

.navi-middle-version-wrapper{
  display: none;
  position: sticky;
  top: 0vh;
  color: #FFB6CE;
  z-index: 100;
}

.navi-small-version-wrapper{
  display: none;
  position: sticky;
  top: 0vh;
  color: #FFB6CE;
  z-index: 100;
}

/*subtitles------------------------------------------------------------*/

.subtitles{
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  text-transform: uppercase;
  animation: transformation 1s infinite alternate;
  position: relative;
  bottom: 5.5vw;
}

.subtitle-1{
  font-size: 13vw;
}
.subtitle-2{
  font-size: 8vw;
}

.subtitle-3{
  font-size: 17.5vw;
}

/* design concept-----------------------------------------------------------*/

.design-concept{
  padding-top: 18vh;
  padding-bottom: 18vh;
  background-color: white;
  color: black;
  font-family:"roslindale-display-light";
  font-size: 23px;
  font-variation-settings: 'wght' 0;
  line-height: 150%;

}

.divider{
  font-size: 70px;
  text-align: center;
  padding-bottom: 10vh;
}

.divider-mobile-version{
  font-family:"roslindale-display-light";
  text-align: center;
  padding-bottom: 14vh;
  display: none;
}

.divider-initial{
  font-family: choreo;
  font-size: 80px;
}

.bullet{
  font-family: choreo;
  font-size: 120px;
}

.cell{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.highlight{
  padding-left: 7vw;
  padding-right: 7vw;
}

.highlight-text{
  font-family: choreo;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 140%;
}

.highlight-slider-wrapper{
  text-align: center;
  font-size: 18px;
}

.highlight-slider-container{
  width: 20vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.highlight-slider{
   -webkit-appearance: none;
   appearance: none;
   width: 10vw;
   height: 1px;
   background: black;
   outline: none;
   margin-left: 20px;
   margin-right: 20px;
}

.highlight-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}

.left-column{
  padding-left: 7vw;
}

.choreo{
  font-family: choreo;
  font-size: 30px;
  text-transform: uppercase;
  font-variation-settings: 'wght' 0;
}

.design-concept img{
  width: 65%;
  display: block;
  margin: auto;
}

.right-column{
  padding-right: 2vw;
  position: relative;
}

#baroque-1{
  position: relative;
/*  left: 4vw;*/
}

#baroque-2{
  display: none;
  width: 20vw;
  position: absolute;
  bottom: 0vh;
  left: 3vw;
}


/*ballet-----------------------------------------------------------*/

.ballet-dancers{
  padding-top: 24vh;
  padding-bottom: 24vh;
}

.dancer-letter-v{
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding-bottom: 24vh;
}

.name{
  height: 3vw;

}
.line-names{
  font-family: roslindale-display-light;
  font-size: 18px;
  padding-left: 4vw;
  transform: translateY(-2vh);
  z-index: 100;
  height: 41vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 0.5vw;
}

.compare{
  position: relative;
  height: 38vw;
}

.five-lines-wrapper{
  height: 38vw;
}

.five-lines{
  width: 100%;
  height: 38vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: 1px solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  position: absolute;
  z-index: 99;
}

.line{
  border: 0.7px solid;
  border-left: none;
  border-right: none;
}

.image-wrapper{
  height: 38vw;
}

#dancer-1{
  width: 45vw;
  position: absolute;
  bottom: -3.6vw;
  left: -1vw;
  z-index: 50;
}

.v{
  font-family: choreo-v-2;
  font-size: 50vw;
  animation: transformation-v 4s infinite alternate;
  position: absolute;
  left: 41vw;
  bottom:-14.6vw;
  z-index: 51;
}

@keyframes transformation-v{
  0%{
    font-variation-settings: 'wght' 0;
  }
  
  25%{
    font-variation-settings: 'wght' 100;
  }

  80%{
    font-variation-settings: 'wght' 100;
  }
  
  100%{
    font-variation-settings: 'wght' 0;
  }
}

.dancer-letter-k{
  display: grid;
  grid-template-columns: 1fr 6fr;
}

#dancer-2{
  width: 40vw;
  position: absolute;
  bottom: -1.8vw;
  left: -3vw;
  z-index: 30;
}

.k{
  font-family: choreo-k;
  font-size: 40vw;
  animation: transformation-k 8.2s infinite;
  position: absolute;
  left: 40vw;
  bottom: -11.8vw;
  z-index: 110;
}

@keyframes transformation-k{
  0%{
    font-variation-settings: 'wght' 0;
  }
  18%{
    font-variation-settings: 'wght' 100;
  }
  30%{
    font-variation-settings: 'wght' 200;
  }
  57%{
    font-variation-settings: 'wght' 300;
  }
  62%{
    font-variation-settings: 'wght' 400;
  }
  78%{
    font-variation-settings: 'wght' 500;
  }
  100%{
    font-variation-settings: 'wght' 400;
  }
}

/*ballet-mobile version-----------------------------------------------------------*/
.ballet-dancers-mobile-version{
  display: none;
  position: relative;
  padding-top: 25vh;
}

.dancer-letter-v-1,.dancer-letter-v-2,.dancer-letter-k-1,.dancer-letter-k-2{
  display: grid;
  grid-template-columns: 1.2fr 3.5fr;
  padding-bottom: 20vh;
}

/*typeface-----------------------------------------------------------*/
.buffer-1{
  content: '';
  height: 6vh;
  background-color: white;
}
.typeface-wrapper{
  background-color: white;
  color: black;
  padding-top: 12vh;
  padding-bottom: 8vh;
}

.divider-2{
  font-family:"roslindale-display-light";
  font-size: 70px;
  text-align: center;
  padding-bottom: 8vh;
}

.typeface{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.staff-letter-container{
/*  height: 70vh;*/
  height: 40vw;
  padding-left: 6vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.music-staff-row-wrapper{
  display: grid;
  border: 1px solid;
  border-collapse: collapse;
  position: relative;
}

.row-small{
/*  height: 2vh;*/
  height: 1.2vw;
  border: 0.8px solid;
}

.small-letters-wrapper{
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0.2vw;
  z-index: 10;
}
.small-letters-row{
  width: 40vw;
  display: inline-flex;
  justify-content: space-around;
/*  font-size: 60px;*/
  font-size:3.4vw ;
}

.element{
  font-variation-settings: 'wght' 0;
}

.A,.C,.E,.G,.I,.K,.M,.O,.Q,.S,.U,.W,.Y,.comma,.exclaim,.ssquote,.scquote,.arrow-left,.dash{
  animation: jump-up 1s infinite alternate;
}

@keyframes jump-up{
  0%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(-8px);
  }
}

.B,.D,.F,.H,.J,.L,.N,.P,.R,.T,.V,.X,.Z,.period,.question,.dsquote,.dcquote,.arrow-right{
  animation: jump-down 1s infinite alternate;
}

@keyframes jump-down{
  0%{
    transform: translateY(3px);
  }
  100%{
    transform: translateY(-3px);
  }
}

.element.still{
  color: #FFB6CE;
  animation: none;
  font-variation-settings: 'wght' 100;

}

.big-letters{
  font-size: 48vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 5.5vw;


  animation: transformation 1.5s infinite alternate;
}

/*type tester-----------------------------------------------------------*/
.buffer-2{
  content: '';
  height: 6vh;
  background-color: black;
}

.type-tester{
  padding-top: 12vh;
  padding-bottom: 18vh;
}

.divider-3{
  font-family:"roslindale-display-light";
  font-size: 70px;
  text-align: center;
  padding-bottom: 10vh;
}

.divider-3-mobile-version{
  font-family:"roslindale-display-light";
  display: none;
  text-align: center;
  padding-bottom: 8vh;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.tester{
  height: 53vh;
  width: 54vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 100%;
  font-variation-settings: 'wght' var(--variable-axis);
  margin-right: 7vw;
  margin-left: 7vw;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:2vh;
  padding-bottom:2vh;
  border: 1px white solid;
  border-radius: 10px;
  background-color: black;
}
.tester::-webkit-scrollbar {
    width: 10px;
}

.tester::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

.tester::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px pink; 
}

.tester.button{
  animation: transformation 1.5s infinite alternate;
}

.sliders{
  font-family:"roslindale-display-light";
  font-size: 20px;
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-container{
  width: 20vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
}

.slider{
   -webkit-appearance: none;
   appearance: none;
   width: 10vw;
   height: 1px;
   outline: none;
   margin-left: 20px;
   margin-right: 20px;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}

button{
  font-family:"roslindale-display-light";
  font-size: 25px;
  background-color: black;
  border: 1px white solid;
  color: white;
  padding: 13px;
  border-radius: 10px;
}


button:hover{
  animation: hover 1s infinite alternate;
  color: #FFB6CE;
  border-color: #FFB6CE;
}

@keyframes hover{
  0%{
    font-variation-settings: 'wght' 100;;
  }
  100%{
      font-variation-settings: 'wght' 0;;
  }
}

.sliders-mobile-version{
  display: none;
  font-family:"roslindale-display-light";
}
/*contact-----------------------------------------------------------*/
.contact-wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
}

.divider-4{
  font-family:"roslindale-display-light";
  font-size: 70px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.content{
  font-family: "roslindale-display-light";
  font-size: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
  line-height: 180%;
}

#email{
  font-family: choreo;
  font-size: 30px;
  animation: transformation 1s infinite alternate;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color:#FFB6CE;
}

/*responsive-----------------------------------------------------------*/

/*2560-----------------------------------------------------------*/

@media screen and (max-width: 2560px){

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 100px;
  }
  .divider-initial{
    font-size: 125px;
  }
  .bullet{
    font-size: 165px;
  }


/*design-concept*/
  .highlight-text{
    font-size: 90px;
  }
  .design-concept{
    font-size: 28px;
    line-height: 150%;
  }
  .choreo{
    font-size: 35px;
  }

/*ballet-dancers*/
  .line-names{
    font-size: 25px;
  }
/*type-tester*/
  .sliders{
    font-size: 33px;
    line-height: 180%;
  }
  .tester{
    font-size: 160px;
    line-height: 120%;
  }
  button{
    font-size:40px;
    padding: 18px;
  }


  /*contact*/
  .content{
    font-size: 28px;
    line-height: 180%;
  }
  #email{
    font-size: 40px;
  }
}

/*2400-----------------------------------------------------------*/

@media screen and (max-width: 2400px){

/*design-concept*/
  .design-concept{
    font-size: 27px;
    line-height: 150%;
  }
  .choreo{
    font-size: 34px;
  }

/*type-tester*/
  .sliders{
    font-size: 30px;
    line-height: 180%;
  }
/*contact*/
  .content{
    font-size: 27px;
    line-height: 180%;
  }
  #email{
    font-size: 40px;
  }  
}

/*2300-----------------------------------------------------------*/

@media screen and (max-width: 2300px)

/*ballet-dancers*/
  .line-names{
    font-size: 24px;
  }
/*type-tester*/
  .sliders{
    font-size: 28px;
    line-height: 180%;
  }
  button{
    font-size:32px;
    padding: 18px;
  }
}

/*2200-----------------------------------------------------------*/

@media screen and (max-width: 2200px){
/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 95px;
  }
  .divider-initial{
    font-size: 105px;
  }
  .bullet{
    font-size: 145px;
  }
/*design-concept*/
  .design-concept{
    font-size: 26px;
    line-height: 150%;
  }
  .choreo{
    font-size: 32px;
  }
/*type-tester*/
  .sliders{
    font-size: 27px;
    line-height: 180%;
  }
/*contact*/
  .content{
    font-size: 26px;
    line-height: 180%;
  }
  #email{
    font-size: 39px;
  } 
}

/*2100-----------------------------------------------------------*/

@media screen and (max-width: 2100px){

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 90px;
  }
  .divider-initial{
    font-size: 107px;
  }
  .bullet{
    font-size: 147px;
  }

/*design-concept*/
  .highlight-text{
    font-size: 80px;
  }
  .design-concept{
    font-size: 25px;
    line-height: 150%;
  }
  .choreo{
    font-size: 30px;
  }
/*ballet-dancers*/
  .line-names{
    font-size: 23px;
  }
/*type-tester*/
  .sliders{
    font-size: 26px;
    line-height: 180%;
  }
  .tester{
    font-size: 140px;
    line-height: 120%;
  }
  button{
    font-size:30px;
    padding: 16px;
  }
/*contact*/
  .content{
    font-size: 25px;
    line-height: 180%;
  }
  #email{
    font-size: 38px;
  } 
}

/*2000-----------------------------------------------------------*/

@media screen and (max-width: 2000px){

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 85px;
  }
  .divider-initial{
    font-size: 103px;
  }
  .bullet{
    font-size: 143px;
  }

/*design-concept*/
  .design-concept{
    font-size: 25px;
    line-height: 150%;
  }
  .choreo{
    font-size: 30px;
  }
/*ballet-dancers*/
  .line-names{
    font-size: 21px;
  }
/*type-tester*/
  .sliders{
    font-size: 23px;
    line-height: 180%;
  }
  .tester{
    font-size: 130px;
    line-height: 120%;
  }
  button{
    font-size:28px;
    padding: 16px;
  }
/*contact*/
  .content{
    font-size: 25px;
    line-height: 180%;
  }
  #email{
    font-size: 38px;
  } 
}

/*1900-----------------------------------------------------------*/

@media screen and (max-width: 1900px){

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 80px;
  }
  .divider-initial{
    font-size: 100px;
  }
  .bullet{
    font-size: 140px;
  }
  .divider,.divider-4{
    padding-bottom: 12vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 75px;
  }
  .design-concept{
    font-size: 24px;
    line-height: 150%;
  }
  .choreo{
    font-size: 30px;
  }
/*ballet-dancers*/
  .line-names{
    font-size: 20px;
  }
/*type-tester*/
  .sliders{
    font-size: 21px;
    line-height: 180%;
  }
  .tester{
    font-size: 115px;
    line-height: 120%;
  }
  button{
    font-size:25px;
    padding: 15px;
  }
/*contact*/
  .content{
    font-size: 24px;
    line-height: 180%;
  }
  #email{
    font-size: 35px;
  } 
}


/*1800-----------------------------------------------------------*/

@media screen and (max-width: 1800px){

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 70px;
  }
  .divider-initial{
    font-size: 90px;
  }
  .bullet{
    font-size: 130px;
  }

/*design-concept*/
  .design-concept{
    font-size: 23px;
    line-height: 150%;
  }
  .highlight-text{
    font-size: 70px;
  }
  .choreo{
    font-size: 30px;
  }

  /*ballet-dancers*/
    .line-names{
      font-size: 18px;
    }
  /*type-tester*/
    .sliders{
      font-size: 20px;
      line-height: 180%;
    }
    .tester{
      font-size: 100px;
      line-height: 100%;
    }
    button{
    font-size:24px;
    padding: 14px;
    }

    /*contact*/
    .content{
      font-size: 20px;
      line-height: 180%;
    }
    #email{
      font-size: 30px;
    }

}


/*1700-----------------------------------------------------------*/
@media screen and (max-width: 1700px){

/*design-concept*/
 .design-concept{
    font-size: 22px;
  }
/*ballet-dancers*/
  .line-names{
    font-size: 18px;
  }
}


/*1600-----------------------------------------------------------*/
@media screen and (max-width: 1600px){

/*design-concept*/
  .design-concept{
    font-size: 21px;
  }
  .choreo{
    font-size: 27px;
  }
  .highlight-text{
    font-size: 60px;
  }

/*ballet-dancers*/
  .line-names{
    font-size: 17px;
  }
}

/*1500-----------------------------------------------------------*/
@media screen and (max-width: 1562px){

/*design-concept*/
  .design-concept{
      font-size: 20px;
  }
  .choreo{
      font-size: 26px;
  }  
/*ballet-dancers*/
    .line-names{
      font-size: 16px;
    }
}
/*1400-----------------------------------------------------------*/
@media screen and (max-width: 1467px){
 /*design-concept*/
  .highlight-text{
    font-size: 60px;
  }
  .design-concept{
      font-size: 20px;
  }

/*ballet-dancers*/
  .line-names{
      font-size: 15px;
  }

/*type-tester*/
  .sliders{
    font-size: 18px;
    line-height: 180%;
  }
  button{
    font-size:22px;
    padding: 12px;
  }

/*contact*/
  .content{
    font-size: 20px;
    line-height: 180%;
  }
  #email{
    font-size: 30px;
  }
}

/*1300-----------------------------------------------------------*/
@media screen and (max-width: 1300px){
 /*design-concept*/
  .design-concept{
    font-size: 18px;
  }
  .choreo{
      font-size: 24px;
  }

  button{
    font-size:20px;
    padding: 10px;
  }

  /*contact*/
  .content{
    font-size: 18px;
    line-height: 180%;
  }
  #email{
    font-size: 28px;
  }
}

/*1200-----------------------------------------------------------*/

@media screen and (max-width: 1200px){
/*navigation*/
  .navi-wrapper{
    display: none;
  }
  .navi-middle-version-wrapper{
    display: block;
  }
  .music-staff{
    height: 6vw;
    border: 1px solid;
  }
  .row{
    border: 0.5px solid;
  }
  .navi-contents-wrapper{
    height: 6vw;
    bottom: 5.6vw;
    z-index: 110;
  }

  .navi-contents{
    font-size: 3.1vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .initial-navi{
    font-family: choreo;
    font-size: 4vw;
  } 

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 65px;
  }
  .divider-initial{
    font-size: 85px;
  }
  .bullet{
    font-size: 121px;
  }

/*design-concept*/  
  .highlight-text{
    font-size: 55px;
  }
  .choreo{
    font-size: 22px;
  }

/*ballet-dancers*/
  .line-names{
  font-size: 14px;
  padding-top: 3px;
}

/*type-tester*/
  .tester{
    font-size: 95px;
    line-height: 100%;
  }
}

/*1100-----------------------------------------------------------*/
@media screen and (max-width: 1100px){
  /*design-concept*/  
  .highlight-text{
    font-size: 50px;
  }
  .choreo{
    font-size: 22px;
  }
}

/*1000-----------------------------------------------------------*/
@media screen and (max-width: 1000px){
/*navigation*/
  .navi-wrapper{
    display: none;
  }
  .navi-middle-version-wrapper{
    display: none;
  }
  .navi-small-version-wrapper{
    display: block;
  }
  .music-staff{
    height: 6.7vw;
    border: 1px solid;
  }
  .row{
    border: 0.5px solid;
  }
  .navi-contents-wrapper{
    height: 6.7vw;
    bottom: 6.5vw;
    z-index: 110;
  }

  .navi-contents{
    font-size: 3.7vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .initial-navi{
    font-family: choreo;
    font-size: 4.6vw;
  }

/*divider*/
  .divider,.divider-2,.divider-3,.divider-4{
    font-size: 63px;
  }
  .divider-initial{
    font-size: 79px;
  }
  .bullet{
    font-size: 119px;
  }

/*design-concept*/
  .highlight-text{
    font-size: 50px;
  }
  .design-concept{
    font-size: 17px;
  }

  /*contact*/
  .content{
    font-size: 17px;
    line-height: 180%;
  }
  #email{
    font-size: 26px;
  }
  /*ballet-dancers*/
  .line-names{
  font-size: 13px;
  padding-top: 4px;
  }

}

/*900-----------------------------------------------------------*/
@media screen and (max-width: 900px){

/*design-concept*/
  .highlight-text{
    line-height: 130%;
  }

/*type-tester*/
  .sliders{
    font-size: 17px;
    line-height: 180%;
  }
  .tester{
    font-size: 80px;
    line-height: 100%;
  }
  #baroque-2{
    bottom: 4vh;
  }
  /*ballet-dancers*/
  .line-names{
  font-size: 12px;
  padding-top:5px
  }
}

/*800-----------------------------------------------------------*/
@media screen and (max-width: 800px){

/*navigation*/
  .navi-wrapper{
    display: none;
  }
  .navi-middle-version-wrapper{
    display: none;
  }
  .navi-small-version-wrapper{
    display: block;
  }
  .music-staff{
    height: 8vw;
    border: 0.8px solid;
  }
  .row{
    border: 0.5px solid;
  }
  .navi-contents-wrapper{
    height: 8vw;
    bottom: 7.5vw;
    z-index: 110;
  }

  .navi-contents{
    font-size: 4.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .initial-navi{
    font-family: choreo;
    font-size: 5.4vw;
  }

/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 63px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 63px;
  }
  .divider-initial{
    font-size: 79px;
  }
  .bullet{
    font-size: 119px
  }
/*design-concept*/
  .cell{
  display: grid;
  grid-template-columns: 1fr;
  }
  .left-column,.right-column{
    padding-left: 7vw;
    padding-right: 7vw;
  }
  #baroque-1{
    left: 0vw;
  }
  #baroque-2{
    display: none;
  }
  .highlight-text{
    font-size: 50px;
  }
  .design-concept{
    font-size: 17px;
  }
  .choreo{
    font-size: 21px;
  }
/*ballet-dancers*/
  .ballet-dancers{
    display: none;
  }
  .ballet-dancers-mobile-version{
    display: block;
  }
  .compare{
    position: relative;
    height: 60vw;
  }
  .line-names{
    font-size: 14px;
    padding-left: 7vw;
    transform: translateY(-2vh);
    height: 63vw;
  }
  .five-lines-wrapper{
    height: 60vw;
  }
  .five-lines{
    height: 60vw;
  }
  .image-wrapper{
    height: 60vw;
    bottom: 40vw;
  }
  #dancer-1{
    width: 70vw;
    position: absolute;
    bottom: -5.8vw;
    z-index: 50;
    left: 3vw;
  }
  .v{
    font-size: 80vw;
    position: absolute;
    left: 4vw;
    bottom: -23.5vw;
    z-index: 50;
  }
  #dancer-2{
    width: 65vw;
    position: absolute;
    bottom: -3vw;
    left: 2.5vw;
    z-index: 30;
  }
  .k{
    font-family: choreo-k;
    font-size: 63vw;
    animation: transformation-k 8.2s infinite;
    position: absolute;
    left: 5.5vw;
    bottom: -18vw;
    z-index: 50;
  }
/*typeface*/
  .buffer-1{
    height: 0vh;
  }
  .divider-2{
    padding-bottom: 0vh;
  }
  .typeface{
    grid-template-columns: 1fr;
  }
  .staff-letter-container{
    height: 45vw;
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .row-small{
    height: 1.5vw;
  }
  .small-letters-wrapper{
    height: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0.2vw;
    z-index: 10;
  }
  .small-letters-row{
    width: 86vw;
    font-size:5vw ;
  }

  .big-letters{
    font-size: 70vw;
    position: relative;
    bottom: 0vw;
  }
  /*type-tester*/
  .buffer-2{
    height: 0vh;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr;
  }
  .tester{
    height: 53vh;
    width: 70vw;
    font-size: 80px;
    margin: auto;
  }
  .sliders{
    display: none;
  }
  .sliders-mobile-version{
    width: 76.5vw;
    display: block;
    font-size: 17px;
    padding-top: 8vw;
    padding-left: 12.5vw;
    padding-right: 7vw;
  }
  .mobile-slider-wrapper{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 3vh;
  }
  .mobile-slider-row{
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .slider-container{
    width: 100%;
    padding-top: 0;
  }
  button{
    width: 75vw;
    display: block;
    margin: auto;
  }
  .divider-3{
    padding-bottom: 8vh;
  }
  .mobile-slider-row{
    padding-bottom: 2vh;
  }
  .tester{
    margin-bottom:2vh;
  }
}

/*700-----------------------------------------------------------*/
@media screen and (max-width: 700px){
  .line-names{
    font-size: 14px;
  }
  .divider,.divider-4{
    padding-bottom: 10vh;
  }
  /*type-tester*/
  .sliders-mobile-version{
    width: 76.5vw;
    display: block;
    font-size: 17px;
    padding-top: 8vw;
    padding-left: 12.5vw;
    padding-right: 7vw;
  }
  .tester{
    font-size: 80px;
    line-height: 100%;
  }

}

/*650-----------------------------------------------------------*/
@media screen and (max-width: 650px){
  .line-names{
    font-size: 13px;
    padding-top: 7px;
  }
  .highlight-text{
    font-size: 45px;
  }
}
/*600-----------------------------------------------------------*/
@media screen and (max-width: 600px){
  .line-names{
    font-size: 13px;
    padding-top: 7px;
  }
    /*type-tester*/
  .sliders-mobile-version{
    width: 76.5vw;
    display: block;
    font-size: 16px;
    padding-top: 8vw;
    padding-left: 12.5vw;
    padding-right: 7vw;
  }
  .tester{
    font-size: 75px;
    line-height: 100%;
  }

  .row-small{
    border: 0.1px solid;
  }
  .music-staff-row-wrapper{
    border: 1px;
  }
}

/*550-----------------------------------------------------------*/
@media screen and (max-width: 550px){
  .design-concept{
    padding-top: 16vh;
  }

  .ballet-dancers-mobile-version{
    padding-top: 23vh;
  }

  .line-names{
    font-size: 12px;
    padding-top: 8px;
  }
  /*divider*/
  .divider-mobile-version,.divider-4{
    padding-bottom: 12vh;
  }

  .divider-2,.divider-4{
    font-size: 60px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 60px;
  }
  .divider-initial{
    font-size: 75px;
  }
  .bullet{
    font-size: 113px
  }
  /*type-tester*/
  .sliders-mobile-version{
    font-size: 15px;
  }
  .tester{
    font-size: 70px;
    line-height: 100%;
  }
}


/*500-----------------------------------------------------------*/
@media screen and (max-width: 500px){
  .line-names{
    font-size: 12px;
    padding-top: 8px;
  }

/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 52px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 52px;
  }
  .divider-initial{
    font-size: 62px;
  }
  .bullet{
    font-size: 102px
  }
/*design-concept*/
  .design-concept{
    font-size: 16px;
  }
  .choreo{
    font-size: 20px;
  }

/*contact*/
  .content{
    font-size: 16px;
    line-height: 180%;
  }
  #email{
    font-size: 24px;
  }
    /*divider*/
  .divider-mobile-version,.divider-4{
    padding-bottom: 12vh;
  }
  /*type-tester*/
  .sliders-mobile-version{
    font-size: 14px;
  }
  .tester{
    font-size: 70px;
    line-height: 100%;
  }

  .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}

.five-lines{
  border: 1px solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  position: absolute;
  z-index: 99;
}

.line{
  border: 0.5px solid;
  border-left: none;
  border-right: none;
}
}

/*455-----------------------------------------------------------*/
@media screen and (max-width: 455px){
  .line-names{
    font-size: 11px;
  }

/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 50px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 50px;
  }
  .divider-initial{
    font-size: 60px;
  }
  .bullet{
    font-size: 95px
  }
  .divider-mobile-version,.divider-4{
    padding-bottom: 10vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 43px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 16px;
  }
  .choreo{
    font-size: 20px;
  }
  /*type-tester*/
  .sliders-mobile-version{
    font-size: 14px;
  }
  .tester{
    font-size: 70px;
    line-height: 100%;
  }
  .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}
}

/*425-----------------------------------------------------------*/
@media screen and (max-width: 425px){
  .line-names{
    font-size: 10px;
  }

/*navigation*/
  .music-staff{
    height: 8vw;
    border: 0.8px solid;
  }
  .row{
    border: 0.5px solid;
  }
  .navi-contents-wrapper{
    height: 8vw;
    bottom: 7.5vw;
    z-index: 110;
  }

  .navi-contents{
    font-size: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .initial-navi{
    font-family: choreo;
    font-size: 5vw;
  }

/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 45px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 45px;
  }
  .divider-initial{
    font-size: 55px;
  }
  .bullet{
    font-size: 90px
  }
  .divider-mobile-version,.divider-4{
    padding-bottom: 8vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 40px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 15px;
  }
  .choreo{
    font-size: 18px;
  }
/*contact*/
  .content{
    font-size: 15px;
    line-height: 180%;
  }
  #email{
    font-size: 23px;
  }
  /*type-tester*/
  .sliders-mobile-version{
    font-size: 13px;
  }
  .tester{
    font-size: 65px;
    line-height: 100%;
  }
}

/*395-----------------------------------------------------------*/
@media screen and (max-width: 400px){
  .line-names{
    font-size: 10px;
  }
/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 37px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 37px;
  }
  .divider-initial{
    font-size: 47px;
  }
  .bullet{
    font-size: 85px
  }
  .divider-mobile-version,.divider-4{
    padding-bottom: 8vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 38px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 14px;
  }
  .choreo{
    font-size: 17px;
  }
/*contact*/
  .content{
    font-size: 14px;
    line-height: 180%;
  }
  #email{
    font-size: 21px;
  }
/*type-tester*/
  .sliders-mobile-version{
    font-size: 12px;
  }
  .tester{
    font-size: 55px;
    line-height: 100%;
  }
}


/*375-----------------------------------------------------------*/
@media screen and (max-width: 375px){
  .line-names{
    font-size: 10px;
  }
/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 33px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 33px;
  }
  .divider-initial{
    font-size: 43px;
  }
  .bullet{
    font-size: 80px
  }
  .divider-mobile-version,.divider-4{
    padding-bottom: 8vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 35px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 13px;
  }
  .choreo{
    font-size: 16px;
  }
/*contact*/
  .content{
    font-size: 13px;
    line-height: 180%;
  }
  #email{
    font-size: 20px;
  }
/*type-tester*/
  .sliders-mobile-version{
    font-size: 12px;
  }
  .tester{
    font-size: 65px;
    line-height: 100%;
  }
}


/*350-----------------------------------------------------------*/
@media screen and (max-width: 350px){
  .line-names{
    font-size: 10px;
  }

/*design-concept*/
  .highlight-text{
    font-size: 35px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 13px;
  }
  .choreo{
    font-size: 16px;
  }
/*contact*/
  .content{
    font-size: 13px;
    line-height: 180%;
  }
  #email{
    font-size: 20px;
  }
/*type-tester*/
  .sliders-mobile-version{
    font-size: 11px;
  }
  .tester{
    font-size: 60px;
    line-height: 100%;
  }
}


/*340-----------------------------------------------------------*/
@media screen and (max-width: 340px){
  .line-names{
    font-size: 10px;
  }
/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 30px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 30px;
  }
  .divider-initial{
    font-size: 40px;
  }
  .bullet{
    font-size: 75px
  }
  .divider-mobile-version,.divider-4{
    padding-bottom: 8vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 35px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 13px;
  }
  .choreo{
    font-size: 16px;
  }
  /*type-tester*/
  .sliders-mobile-version{
    font-size: 11px;
  }
  .tester{
    font-size: 55px;
    line-height: 100%;
  }
  .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}
}

/*320-----------------------------------------------------------*/
@media screen and (max-width: 320px){
  .line-names{
    font-size: 10px;
  }
/*divider*/
  .divider,.divider-3{
    display: none;
  }
  .divider-2,.divider-4{
    font-size: 29px;
  }
  .divider-mobile-version,.divider-3-mobile-version{
    display: block;
    font-size: 29px;
  }
  .divider-initial{
    font-size: 39px;
  }
  .bullet{
    font-size: 70px
  }
  .divider-mobile-version,.divider-4{
    padding-bottom: 8vh;
  }

/*design-concept*/
  .highlight-text{
    font-size: 35px;
    line-height: 120%;
  }
  .design-concept{
    font-size: 13px;
  }
  .choreo{
    font-size: 16px;
  }

/*type-tester*/
  .sliders-mobile-version{
    font-size: 11px;
  }
  .tester{
    font-size: 50px;
    line-height: 100%;
  }
  .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}
}






