*{
  margin: 0;
  padding: 0;
  margin-block-end:0;
  margin-block-start:0;
}

@font-face {
  font-family: "choreo";
  src: url("Choreo-ChoreoVF.woff2") format("woff2");
}
@font-face {
  font-family: "choreo-v-2";
  src: url("Choreo-Choreo-v-2VF.woff2") format("woff2");
}
@font-face {
  font-family: "choreo-k";
  src: url("Choreo-Choreo-kVF.woff2") format("woff2");
}
@font-face {
  font-family: "roslindale-display-light";
  src: url("fonts/Roslindale-DisplayLight-Testing.woff2") format("woff2");
}

body{
  font-family: choreo;
  font-variation-settings: 'wght' 100;
  transition: 1s ease-in-out;
  letter-spacing: 1px;
  background: black;
  color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #FFB6CE; 
}

/*animations*/

@keyframes transformation{
  0%{
    font-variation-settings: 'wght' 0;
  }
  100%{
    font-variation-settings: 'wght' 100;
  }
}

/*title------------------------------------------------------------*/
.title{
  height: 45vh;
  text-transform: uppercase;
  font-size: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFB6CE;
  font-variation-settings: 'wght' var(--variable-axis);
}
/*under title------------------------------------------------------------*/
.under-title{
  line-height: 230%;
}

/*navi------------------------------------------------------------*/

.navi-wrapper{
  position: sticky;
  top: 0vh;
  z-index: 100;
  color: #FFB6CE;
}

.music-staff{
  display: grid;
  border: 1px solid;
  border-collapse: collapse;
  position: relative;
}

.row{
/*  height: 21px;*/
  height: 2vh;
  border: 0.7px solid;
}

.navi-contents{
  font-family:"roslindale-display-light";
  font-size: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 6.4vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

.initial-navi{
  font-family: choreo;
  font-size: 70px;
}

.navi-content:hover{
  animation: transformation 1s infinite alternate;
}

/*subtitles------------------------------------------------------------*/

.subtitles{
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 18vh;
  text-transform: uppercase;
  animation: transformation 1s infinite alternate;
}

.subtitle-1{
  font-size: 230px;
  line-height:115%;
}
.subtitle-2{
  font-size: 100px;
  line-height:115%;
}

.subtitle-3{
  font-size: 325px;
  line-height:115%;
}

/* design concept-----------------------------------------------------------*/

.design-concept{
  padding-top: 18vh;
  padding-bottom: 18vh;
  background-color: white;
  color: black;
  font-family:"roslindale-display-light";
  font-size: 23px;
  font-variation-settings: 'wght' 0;

}

.divider{
  font-size: 70px;
  text-align: center;
  padding-bottom: 14vh;
}

.divider-initial{
  font-family: choreo;
  font-size: 80px;
}

.bullet{
  font-family: choreo;
  font-size: 120px;
}

.cell{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-column{
  padding-left: 7vw;
}

.highlight-text{
  font-size: 55px;
  line-height: 120%;
}

.choreo{
  font-family: choreo;
  font-size: 30px;
  text-transform: uppercase;
  font-variation-settings: 'wght' 0;
}

.choreo-highlight{
  font-size: 60px;
  animation: transformation 1s infinite alternate;
}

.design-concept img{
  width: 60%;
  display: block;
  margin: auto;
}

.right-column{
  padding-right: 2vw;
  position: relative;
}

#baroque-1{
  position: relative;
  left: 4vw;
}

#baroque-2{
  width: 20vw;
  position: absolute;
  bottom: 0vh;
  left: 3vw;
}


/*ballet-----------------------------------------------------------*/

.ballet-dancers{
  position: relative;
  padding-top: 20vh;
}

.line-names{
  font-family: roslindale-display-light;
  font-size: 18px;
  padding-left: 4vw;
  transform: translateY(-2vh);
  z-index: 100;
}

.name{
  padding-bottom: 13.5vh;
}


.compare{
  position: relative;
}

.five-lines{
  width: 100%;
  display: grid;
  border: 0.7px solid;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  position: absolute;
  z-index: 99;
}

.line-1{
  padding-top: 1vh;
}

.line{
  height: 17vh;
  border: 0.7px solid;
  border-left: none;
  border-right: none;
}

/*dancer 1st*/
.dancer-letter-v{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

#dancer-1{
  width: 45vw;
  position: absolute;
  bottom: 24vh;
  left: -1vw;
  z-index: 20;
}

.v{
  font-family: choreo-v-2;
  font-size: 50vw;
  animation: transformation-v 4s infinite alternate;
  position: absolute;
  left: 42vw;
  bottom: 56vh;
  z-index: 50;
}

@keyframes transformation-v{
  0%{
    font-variation-settings: 'wght' 0;
  }
  
  25%{
    font-variation-settings: 'wght' 100;
  }

  80%{
    font-variation-settings: 'wght' 100;
  }
  
  100%{
    font-variation-settings: 'wght' 0;
  }
}

.dancer-letter-k{
  background-color: black;
  color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

#dancer-2{
  width: 41.5vw;
  position: absolute;
  bottom: 27vh;
  left: -3vw;
  z-index: 20;
}

.k{
  font-family: choreo-k;
  font-size: 40vw;
  animation: transformation-k 8.2s infinite;
  position: absolute;
  left: 40vw;
  bottom: 51vh;
  z-index: 50;
}

@keyframes transformation-k{
  0%{
    font-variation-settings: 'wght' 0;
  }
  18%{
    font-variation-settings: 'wght' 100;
  }
  30%{
    font-variation-settings: 'wght' 200;
  }
  57%{
    font-variation-settings: 'wght' 300;
  }
  62%{
    font-variation-settings: 'wght' 400;
  }
  78%{
    font-variation-settings: 'wght' 500;
  }
  100%{
    font-variation-settings: 'wght' 400;
  }
}

/*typeface-----------------------------------------------------------*/
.buffer-1{
  content: '';
  height: 6vh;
  background-color: white;
}
.typeface-wrapper{
  background-color: white;
  color: black;
  padding-top: 12vh;
  padding-bottom: 18vh;
}

.divider-2{
  font-family:"roslindale-display-light";
  font-size: 70px;
  text-align: center;
  padding-bottom: 8vh;
}

.typeface{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.staff-letter-container{
  height: 70vh;
  padding-left: 6vw;
  padding-right: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.music-staff-row-wrapper{
  display: grid;
  border: 1px solid;
  border-collapse: collapse;
  position: relative;
}

.row-small{
  height: 2vh;
  border: 0.8px solid;
}


.small-letters-row{
  width: 40vw;
  display: inline-flex;
  justify-content: space-around;
  font-size: 60px;
  position: absolute;
}

.row-one{
  top: 7.3vh;
}

.row-two{
  top: 24.8vh;
}

.row-three{
  top: 42.3vh;
}

.row-four{
  top: 59.8vh;
}

.element{
  position: relative;
  font-variation-settings: 'wght' 0;
}

.A,.C,.E,.G,.I,.K,.M,.O,.Q,.S,.U,.W,.Y,.comma,.exclaim,.ssquote,.scquote,.arrow-left,.dash{
  animation: jump-up 1s infinite alternate;
}

@keyframes jump-up{
  0%{
    transform: translateY(8px);
  }
  100%{
    transform: translateY(-8px);
  }
}

.B,.D,.F,.H,.J,.L,.N,.P,.R,.T,.V,.X,.Z,.period,.question,.dsquote,.dcquote,.arrow-right{
  animation: jump-down 1s infinite alternate;
}

@keyframes jump-down{
  0%{
    transform: translateY(3px);
  }
  100%{
    transform: translateY(-3px);
  }
}

.element.still{
  color: #FFB6CE;
  animation: none;
}


.big-letters{
  font-size: 48vw;
  display: block;
  margin: auto;
  padding-top: 11vh;
  padding-left: 2vw;
  animation: transformation 1.5s infinite alternate;
}

/*type tester-----------------------------------------------------------*/
.buffer-2{
  content: '';
  height: 2vh;
  background-color: black;
}

.type-tester{
  padding-top: 16vh;
  padding-bottom: 30vh;
}

.divider-3{
  font-family:"roslindale-display-light";
  font-size: 70px;
  text-align: center;
  padding-bottom: 13vh;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.tester{
  height: 53vh;
  width: 54vw;
  overflow-x: hidden;
  overflow-y: auto;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 100%;
  font-variation-settings: 'wght' var(--variable-axis);
  margin-right: 7vw;
  margin-left: 7vw;
  padding-left:2vw;
  padding-right:2vw;
  padding-top:2vh;
  padding-bottom:2vh;
  border: 1px white solid;
  border-radius: 10px;
  background-color: black;
}
.tester::-webkit-scrollbar {
    width: 10px;
}

.tester::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

.tester::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px pink; 
}

.tester.button{
  animation: transformation 1.5s infinite alternate;
}

.tester{
  box-shadow: 15px 15px white;
}

.sliders{
  font-family:"roslindale-display-light";
  font-size: 20px;
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-container{
  width: 20vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vh;
}

.slider{
   -webkit-appearance: none;
   appearance: none;
   width: 10vw;
   height: 1px;
   outline: none;
   margin-left: 20px;
   margin-right: 20px;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background:#FFB6CE;
  cursor: pointer;
}

button{
  font-family:"roslindale-display-light";
  font-size: 25px;
  background-color: black;
  border: 1px white solid;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button{
  box-shadow: 8px 8px white;
}

button:hover{
  animation: hover 1s infinite alternate;
}

@keyframes hover{
  0%{
    transform: translateX(-10px);
  }
  100%{
    transform: translateX(10px);
  }
}
/*contact-----------------------------------------------------------*/
.contact-wrapper{
 /* background-color: white;
  color: black;*/
  height: 100vh;
  display: flex;
  align-items: center;
}

.divider-4{
  font-family:"roslindale-display-light";
  font-size: 70px;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 12vh;
}

.content{
  font-family: "roslindale-display-light";
  font-size: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
}

#email{
  font-family: choreo;
  font-size: 30px;
  animation: transformation 1s infinite alternate;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color:#FFB6CE;
}

/*responsive-----------------------------------------------------------*/


@media screen and (max-width: 1870px){

/*title+navi+subtitles*/
  .title{
    font-size: 400px;
  }
  .navi-contents{
    font-size: 60px;
    bottom: 6.3vh;
  }
  .initial-navi{
    font-size: 70px;
  }
  .subtitle-1{
    font-size: 230px;
  }
  .subtitle-2{
    font-size: 100px;
  }
  .subtitle-3{
    font-size: 325px;
  }


/*dividers*/
  .divider,.divider-2,.divier-3,.divier-4{
    font-size: 70px;
  }
    .divider-initial{
    font-size: 80px;
  }
  .bullet{
    font-size: 120px;
  }


/*design-concept*/
  .design-concept{
    font-size: 23px;
  }
  .highlight-text{
    font-size: 55px;
  }
  .choreo{
    font-size: 30px;
  }
  .choreo-highlight{
    font-size: 60px;
  }


/*ballet-dancers   need to decide later need to decide later need to decide later*/
  .line-names{
    font-size: 18px;
  }


/*typeface*/
  .small-letters-row{ 
    font-size: 60px;
  }


/*type-tester*/
  .tester{
    font-size: 100px;
  }
  .sliders{
    font-size: 20px;
  }
  button{ 
    font-size: 25px;
    padding: 10px;
  }

/*contact*/
  .content{
    font-size: 20px;
  }
  #email{
    font-size: 30px;
  }

}

@media screen and (max-width: 1750px){

/*title+navi+subtitles*/
  .title{
    font-size: 380px;
  }
  .navi-contents{
    font-size: 56px;
    bottom: 6.3vh;
  }
  .initial-navi{
    font-size: 66px;
  }
  .subtitle-1{
    font-size: 210px;
  }
  .subtitle-2{
    font-size: 95px;
  }
  .subtitle-3{
    font-size: 305px;
  }

}


@media screen and (max-width: 1650px){

/*title+navi+subtitles*/
  .title{
    font-size: 360px;
  }
  .navi-contents{
    font-size: 54px;
    bottom: 6.3vh;
  }
  .initial-navi{
    font-size: 64px;
  }
  .subtitle-1{
    font-size: 190px;
  }
  .subtitle-2{
    font-size: 90px;
  }
  .subtitle-3{
    font-size: 285px;
  }
  
}

@media screen and (max-width: 1580px){

/*title+navi+subtitles*/
  .title{
    font-size: 340px;
  }
  .navi-contents{
    font-size: 51px;
    bottom: 6.4vh;
  }
  .initial-navi{
    font-size: 61px;
  }
  .subtitle-1{
    font-size: 175px;
  }
  .subtitle-2{
    font-size: 85px;
  }
  .subtitle-3{
    font-size: 270px;
  }
  
}


@media screen and (max-width: 1480px){

/*title+navi+subtitles*/
  .title{
    font-size: 320px;
  }
  .navi-contents{
    font-size: 48px;
    bottom: 6.5vh;
  }
  .initial-navi{
    font-size: 58px;
  }
  .subtitle-1{
    font-size: 170px;
  }
  .subtitle-2{
    font-size: 85px;
  }
  .subtitle-3{
    font-size: 260px;
  }

/*design-concept*/
  .design-concept{
    font-size: 21px;
  }
  .highlight-text{
    font-size: 52px;
    line-height: 140%;
  }
  .choreo{
    font-size: 28px;
  }
  .choreo-highlight{
    font-size: 58px;
  }

/*ballet-dancers*/
  .line-names{
    font-size: 16px;
  }

/*typeface*/
  .small-letters-row{ 
    font-size: 55px;
  }
  .row-one{
    top: 7.1vh;
  }
  .row-two{
    top: 24.6vh;
  }
  .row-three{
    top: 42.1vh;
  }
  .row-four{
    top: 59.6vh;
  }

/*type-tester*/
  .tester{
    font-size: 95px;
  }

/*contact*/
  .content{
    font-size: 18px;
  }
  #email{
    font-size: 28px;
  }

}


@media screen and (max-width: 1400px){

/*title+navi+subtitles*/
  .title{
    font-size: 300px;
  }
  .navi-contents{
    font-size: 45px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 55px;
  }
  .subtitle-1{
    font-size: 165px;
  }
  .subtitle-2{
    font-size: 83px;
  }
  .subtitle-3{
    font-size: 240px;
  }
  
}


@media screen and (max-width: 1300px){

/*title+navi+subtitles*/
  .title{
    font-size: 280px;
  }
  .navi-contents{
    font-size: 41px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 51px;
  }
  .subtitle-1{
    font-size: 160px;
  }
  .subtitle-2{
    font-size: 81px;
  }
  .subtitle-3{
    font-size: 228px;
  }

/*design-concept*/
  .design-concept{
    font-size: 21px;
  }
  .highlight-text{
    font-size: 50px;
  }
  .choreo{
    font-size: 28px;
  }
  .choreo-highlight{
    font-size: 56px;
  }

/*type-tester*/
  .tester{
    font-size: 85px;
  }
  .sliders{
    font-size: 18px;
  }
  button{ 
    font-size: 23px;
    padding: 10px;
  }

}

@media screen and (max-width: 1200px){

/*title+navi+subtitles*/
  .title{
    font-size: 260px;
  }
  .navi-contents{
    font-size: 38px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 48px;
  }
  .subtitle-1{
    font-size: 155px;
  }
  .subtitle-2{
    font-size: 75px;
  }
  .subtitle-3{
    font-size: 208px;
  }

/*dividers*/
  .divider,.divider-2,.divier-3,.divier-4{
    font-size: 68px;
  }
  .divider-initial{
    font-size: 78px;
  }
  .bullet{
    font-size: 118px;
  }

  /*design-concept*/
  .design-concept{
    font-size: 18px;
    line-height: 190%;
  }
  .highlight-text{
    font-size: 46px;
  }
  .choreo{
    font-size: 25px;
  }
  .choreo-highlight{
    font-size: 52px;
  }

  /*ballet-dancers*/
  .line-names{
    font-size: 15px;
  }

/*typeface*/
  .small-letters-row{ 
    font-size: 52px;
  }
}

@media screen and (max-width: 1140px){

/*title+navi+subtitles*/
  .title{
    font-size: 240px;
  }
  .navi-contents{
    font-size: 36px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 46px;
  }
  .subtitle-1{
    font-size: 150px;
  }
  .subtitle-2{
    font-size: 73px;
  }
  .subtitle-3{
    font-size: 190px;
  }

/*design-concept*/
  .design-concept{
    line-height: 180%;
  }

/*typeface*/
  .small-letters-row{ 
    font-size: 50px;
  }

}

@media screen and (max-width: 1060px){

/*title+navi+subtitles*/
  .title{
    font-size: 220px;
  }
  .navi-contents{
    font-size: 32px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 42px;
  }
  .subtitle-1{
    font-size: 145px;
  }
  .subtitle-2{
    font-size: 70px;
  }
  .subtitle-3{
    font-size: 175px;
  }

}

@media screen and (max-width: 980px){

/*title+navi+subtitles*/
  .title{
    font-size: 210px;
  }
  .navi-contents{
    font-size: 31px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 41px;
  }
  .subtitle-1{
    font-size: 140px;
  }
  .subtitle-2{
    font-size: 68px;
  }
  .subtitle-3{
    font-size: 165px;
  }

}



@media screen and (max-width: 940px){

/*title+navi+subtitles*/
  .title{
    font-size: 200px;
  }
  .navi-contents{
    font-size: 28px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 38px;
  }
  .subtitle-1{
    font-size: 125px;
  }
  .subtitle-2{
    font-size: 65px;
  }
  .subtitle-3{
    font-size: 155px;
  }

}


@media screen and (max-width: 880px){

/*title+navi+subtitles*/
  .title{
    font-size: 190px;
  }
  .navi-contents{
    font-size: 28px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 38px;
  }
  .subtitle-1{
    font-size: 115px;
  }
  .subtitle-2{
    font-size: 60px;
  }
  .subtitle-3{
    font-size: 145px;
  }

}


@media screen and (max-width: 880px){

/*title+navi+subtitles*/
  .title{
    font-size: 190px;
  }
  .navi-contents{
    font-size: 27px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 37px;
  }
  .subtitle-1{
    font-size: 115px;
  }
  .subtitle-2{
    font-size: 60px;
  }
  .subtitle-3{
    font-size: 145px;
  }

}

@media screen and (max-width: 850px){

/*title+navi+subtitles*/
  .title{
    font-size: 170px;
  }
  .navi-contents{
    font-size: 24px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 34px;
  }
  .subtitle-1{
    font-size: 110px;
  }
  .subtitle-2{
    font-size: 58px;
  }
  .subtitle-3{
    font-size: 125px;
  }

}

@media screen and (max-width: 765px){

/*title+navi+subtitles*/
  .title{
    font-size: 160px;
  }
  .navi-contents{
    font-size: 22px;
    bottom: 6.6vh;
  }
  .initial-navi{
    font-size: 32px;
  }
  .subtitle-1{
    font-size: 105px;
  }
  .subtitle-2{
    font-size: 56px;
  }
  .subtitle-3{
    font-size: 115px;
  }

}





