*{
	margin: 0;
	padding: 0;
}

.container{
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 8px 1fr;
	overflow: hidden;
}

.gradient-bar-v{
	width: 8px;
	height: 100vh;
	background: rgb(53,163,236);
	background: linear-gradient(to bottom, rgba(53,163,236,1) 0%, rgba(57,229,162,1) 16%, rgba(211,246,15,1) 32%, rgba(254,168,6,1) 48%, rgba(248,104,98,1) 64%, rgba(219,63,197,1) 80%, rgba(100,92,224,1) 100%);
}

/*right column right column right column right column right column right column right column*/


.titles{
	max-width: 50vw;
	display: grid;
	grid-template-rows:repeat(5, 1fr);
	grid-row-gap: 0.2em;
	margin-top: 4vh;
}

.title-1,.title-2,.title-3,.title-4,.title-5{
	display: inline-flex;
	margin-bottom: 2vh;
	margin-left: 1.2vw;
}


h1{
	font-family:'Bungee Outline', cursive;
	font-size: 68px;
	margin-left: 1.8vw;
}

.title-1 h1:hover{
	font-family:'Bungee', cursive;
}
.title-2 h1:hover{
	font-family:'Bungee', cursive;
}
.title-3 h1:hover{
	font-family:'Bungee', cursive;
}
.title-4 h1:hover{
	font-family:'Bungee', cursive;
}
.title-5 h1:hover{
	font-family:'Bungee', cursive;
}

a{
	all: unset;
}

.title-1{
	color:#F15A7B ;
}

.title-2{
	color:#FD8D26;
}

.title-3{
	color:#E0EE08;
}

.title-4{
	color:#6CF66C;
}

.title-5{
	color:#2ADAC5;
}

/*left column left column left column left column left column left column left column*/

#arrow-forward{
	width: 10vw;
	position: absolute;
	right: 8vw;
	bottom: 10vw;
	display: none;
	z-index: 100;
}

.left-column-container{
	height: 100vh;
	overflow: scroll;
}

.samples{
	margin-top: 6vh;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 6vh;
	display: grid;
	grid-template-columns:repeat(5, 1fr);
	grid-template-rows:repeat(2, 1fr);
	grid-column-gap: 0.5vw;
}

.samples img{
	width: 100%;
}

#hidden{
	display: none;
}

.left-column-container p{
	font-family: "Fredoka", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4em;
	color: black;
	margin-left: 3vw;
}


.hover-1,.hover-2,.hover-3,.hover-4,.hover-5,.hover-6,.hover-7,.hover-8,.hover-9,.hover-10{
	transform: translateY(0vh);
	transition: transform 100ms ease;
}

.hover-1:hover,.hover-2:hover,.hover-3:hover,.hover-4:hover,.hover-5:hover,.hover-6:hover,.hover-7:hover,.hover-8:hover,.hover-9:hover,.hover-10:hover{
	transform: translateY(1vh);
}


.text-1,.text-2,.text-3,.text-4,.text-5,.text-6,.text-7,.text-8,.text-9,.text-10{
	position: absolute;
	bottom: 10vh;
	display: none;
}
.text-1{
	z-index: 10;
}

.text-2{
	z-index: 20;
}

.text-3{
	z-index: 30;
}

.text-4{
	z-index: 40;
}

.text-5{
	z-index: 50;
}

.text-6{
	z-index: 60;
}

.text-7{
	z-index: 70;
}

.text-8{
	z-index: 80;
}

.text-9{
	z-index: 90;
}

.text-10{
	z-index: 100;
}

/*responsive responsive responsive responsive responsive responsive*/

@media screen and (max-width: 2560px){
	h1{
		font-size: 88px;
	}
}

@media screen and (max-width: 2200px){
	h1{
		font-size: 80px;
	}
}

@media screen and (max-width: 2000px){
	h1{
		font-size: 75px;
	}
}

@media screen and (max-width: 1900px){
	h1{
		font-size: 68px;
	}
}

@media screen and (max-width: 1750px){
	h1{
		font-size: 63px;
	}
}

@media screen and (max-width: 1550px){
	h1{
		font-size: 57px;
	}
}

@media screen and (max-width: 1440px){
	h1{
		font-size: 53px;
	}
}

@media screen and (max-width: 1340px){
	h1{
		font-size: 48px;
	}
}

@media screen and (max-width: 1200px){
	h1{
		font-size: 42px;
	}
}

@media screen and (max-width: 1024px){
	h1{
		font-size: 37px;
	}
}

@media screen and (max-width: 910px){
	h1{
		font-size: 31px;
	}
}

@media screen and (max-width: 768px){
	.container{
		grid-template-columns:100vw 0 0;
	}
	.gradient-bar-v,.right-column-wrapper{
	 	display: none;
	}
	.samples-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.samples{
		margin-top: 3vh;
		margin-left: 8vw;
		margin-right: 8vw;
		margin-bottom: 3vh;
		display: grid;
		grid-template-columns:repeat(5, 1fr);
		grid-template-rows:repeat(4, 1fr);
		grid-column-gap: 4vw;	
		grid-row-gap: 1.5vw;
		animation: floating 3s infinite ease;	
	}

	.samples img{
		width: 100%;
	}

	@keyframes floating{
		0% { transform: translate(0,  0px); }
    	50%  { transform: translate(0, 15px); }
    	100%   { transform: translate(0, 0px); } 
	}

	#arrow-forward{
	display: block;
	}
}

@media screen and (max-width: 600px){
	.container{
		grid-template-columns:100vw 0 0;
	}
	.gradient-bar-v,.right-column-wrapper{
	 	display: none;
	}
	.samples-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.samples{
		margin-top: 3vh;
		margin-left: 8vw;
		margin-right: 8vw;
		margin-bottom: 3vh;
		display: grid;
		grid-template-columns:repeat(3, 1fr);
		grid-template-rows:repeat(4, 1fr);
		grid-column-gap: 4vw;	
		grid-row-gap: 1.5vw;
		animation: floating 3s infinite ease;	
	}

	.samples img{
		width: 100%;
	}

	@keyframes floating{
		0% { transform: translate(0,  0px); }
    	50%  { transform: translate(0, 15px); }
    	100%   { transform: translate(0, 0px); } 
	}

	#hidden{
	display: block;
	}

	#arrow-forward{
	display: block;
	}
}

@media screen and (max-width: 425px){
	.container{
		grid-template-columns:100vw 0 0;
	}
	.gradient-bar-v,.right-column-wrapper{
	 	display: none;
	}
	.samples-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.samples{
		margin-top: 3vh;
		margin-left: 8vw;
		margin-right: 8vw;
		margin-bottom: 3vh;
		display: grid;
		grid-template-columns:repeat(3, 1fr);
		grid-template-rows:repeat(4, 1fr);
		grid-column-gap: 4vw;	
		grid-row-gap: 1.5vw;
		animation: floating 3s infinite ease;	
	}
	@keyframes floating{
		0% { transform: translate(0,  0px); }
    	50%  { transform: translate(0, 15px); }
    	100%   { transform: translate(0, 0px); } 
	}

	#hidden{
	display: block;
	}

	#arrow-forward{
	display: block;
	}
}

