*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: "InputMono-Regular";
    src: url("fonts/InputMono-Regular.woff2") format("woff2");
  }

body{
    background: black;
    font-family:"InputMono-Regular";
}

/*navigation on the top*/
.navi{
    height: 10vh;
    width: 100vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    position: fixed;
    color: white;
    z-index: 100;
}

.title{
    font-size: 35px;
}

.subtitle{
    font-size: 20px;
    display: flex;
}

#subtitle-1{
    margin-right: 20px;
}

/*info panel on the bottom*/
.info-panel{
    background: white;
    height: 22vh;
    width: 100vw;
    position: fixed;
    top: 78vh;
    display: none;
    font-size: 20px;
    z-index: 200;
}

.info-panel.show{
	background: white;
    height: 22vh;
    width: 100vw;
    position: fixed;
    top: 78vh;
    display: block;
    font-size: 20px;
    z-index: 200;
}

.active{
	
}

.category{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
}

.information{
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr 1fr 1fr;
    position: relative;
    line-height: 150%;
    padding-top: 5vh;
}

.character-img{
    height: 15vh;
    position: absolute;
    top: 1vh;
}

.info-panel-content-mobile{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    row-gap: 8px;
    display: none;
}

.row{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/*body part*/
.scroll-wrapper{
	width:  100vw;
	height: 100vh;
	overflow: scroll;
}

main{
	width: 6300px;
	height: 6300px;
}

#grid-container{
    display: grid;
    width: 6300px;
    grid-template-columns: repeat(16, 1fr);
    column-gap:100px;
    grid-template-rows: repeat(16, 1fr);
    row-gap:100px;
}

.seg{
    width: 300px;
}

.seg:hover{
    animation: hover 1s infinite alternate;
}

@keyframes hover{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

/*responsive*/
@media screen and (max-width: 1900px){
    .title{
        font-size: 35px;
    }

    .subtitle{
        font-size: 20px;
        display: flex;
    }

    #subtitle-1{
        margin-right: 20px;
    }

    .info-panel{
        font-size: 20px;
    }
}


@media screen and (max-width: 650px){
    .title{
        font-size: 22px;
    }

    .subtitle{
        font-size: 15px;
        display: block;
    }

    #subtitle-1{
        margin-right: 0px;
    }

    .info-panel-content{
        display: none;
    }

    .info-panel-content-mobile{
        display: grid;
        font-size: 10px;
    }

    .character-img{
        height: 10vh;
        position: absolute;
        top: 1vh;
    }
}












