*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "InputMono-Regular";
    src: url("fonts/InputMono-Regular.woff2") format("woff2");
  }

body{
    background: black;
}

.cover{
    height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.navi{
    font-family:"InputMono-Regular";
    height: 10h;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 4vw;
    position: fixed;
    color: white;
}

.title{
    font-size: 35px;
}

.subtitle{
    font-size: 20px;
    display: flex;
}

#subtitle-1{
    margin-right: 20px;
}

.button{
    width: 40px;
}

#grid-container{
    display: grid;
    width:3900px;
    grid-template-columns: repeat(10, 1fr);
    column-gap:100px;
    grid-template-rows: repeat(16, 1fr);
    row-gap:100px;
}

.seg{
    width: 300px;
}

.seg:hover{
    animation: hover 1s infinite alternate;
}

@keyframes hover{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}

.info-panel{
    background: white;
}

.segment{
    
}

